html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #EFEFEF;
    display: flex;
}
.column {
    flex: 1;
    display: flex;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    overflow: auto;
  }
  .column:nth-child(2) {
    padding-top: 40px;
    background-color: #EFEFEF;
    flex: 1.5;
  }

  .column:first-child {
    background: url('tumblr_b7f1865e75340b9f5907c6f9277d6d92_fb6655b3_540\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset -50px 0px 30px 50px rgba(0, 0, 0, 0.5);
  }

#logo {
    width: 400px;
}

#bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#siul {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: #413000;
    margin-top: 50px;
    margin-bottom: 45px;
}

#line {
    width: 350px;
}

form {
    width: 30%;
}

input {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-left: -28px;
    padding: 10px;
    font-size: 12px;
    color: #413000;
    border: 4px solid #413000; /* Add border style */
    border-radius: 4px;
    align-items: center;
}

input[type="submit"] {
    background-color: #000000;
    margin-top: 30px;
    color: #E9BF6D;
    height: 60px;
    width: 335px;
    font-weight: bolder;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #E9BF6D;
    color: #000000;
}

#username {
    background-image: url('user.png'); /* Add image path */
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 40px;
    text-indent: 30px;
}

#password {
    background-image: url('lock.png'); /* Add image path */
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 40px;
    text-indent: 30px;
}

#username::placeholder, #password::placeholder {
    text-indent: 30px;
    color: #413000;
}